.PrescriptionMarkerItem { 
    margin-bottom: 20px;
}

.PrescriptionMarkerItem p {
    padding: 0;
    margin: 0;
    text-overflow: ellipsis;   
    white-space: nowrap;
    overflow: hidden;
}

.marker-text {
    display: flex;
    justify-content: space-between;
}