.Marker {
    position: absolute;
    width: 100px;
    height: 100px;

    border: thin red solid;

    cursor: pointer;
    z-index: 5;
}

.marker-label {
    position: absolute;
    top: -38px;
    color: red;
}

.marker-text {
    position: absolute;
    
    line-height: none;
    padding: 0;
    margin: 0;
}

.marker-resize-handle {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: red;
}