.Main {
    padding: 10px;
    display: grid;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 600px 1000px;
    grid-template-areas:
        "profile display"
        "marker display"
        "prescription display"
    ;
    gap: 10px;
}
.ProfilePanel {
    grid-area: profile;
}

.MarkerEditor {
    grid-area: marker;
}

.Display {
    grid-area: display;
}

