.Display {
    position: relative;
    display: flex;
    flex-direction: column;
}

.display-canvas-container {
    position: relative;
    width: 500px;
    height: 500px;

    border: 2px black solid;
    margin: 0;
    padding: 0;
}

.display-canvas {
    position: absolute;

    left: 0;
    top: 0;
    transform-origin: top left;
}