.hidden {
    display: none;
}

.Display {
    position: relative;
    display: flex;
    flex-direction: column;
}

.display-containers {
    position: relative;
    display: flex;
    gap: 10px;

}

.display-canvas-container {
    position: relative;

    border: 2px black solid;
    margin: 0;
    padding: 0;
    transform-origin: top left;
}

.display-canvas {
    position: absolute;
    left: 0;
    top: 0;
    
    transform-origin: top left;
}

.Marker {
    position: absolute;
    width: 100px;
    height: 100px;

    cursor: pointer;

    z-index: 5;
}

.marker-label {
    position: absolute;
    top: -1.6rem;

    color: red;
    font-size: 0.7rem;
}

.marker-text {

    height: 100%;
    width: 100%;
    
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */

    vertical-align: top;
    text-overflow: ellipsis;   
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.marker-resize-handle {
    position: absolute;
    background: red;
}
.w {
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
}

.wh {
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
}