.prescription-marker-cover {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.prescription-marker-text-container {
    height: 100%;
    text-overflow: ellipsis;   
    white-space: nowrap;
    overflow-y: hidden;
}  

