.MarkerEditorItem {
    border: thin black solid;
    padding: 5px;

    display: flex;
    justify-content: space-between;
}
.input-label {
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.input-text-size {
    width: 50px;
}